<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.scm.finance.dao.ISkusMapper">

    <update id="updateSkus"  parameterType="java.util.List" >
        <foreach collection="list" item="skus" index="index" open="" close=";" separator=";">
            update skus
            <set>
                property_value_id = #{skus.propertyValueId},
                property_value = #{skus.propertyValue},
                bar_code = #{skus.barCode},
                market_price = #{skus.marketPrice},
                picture = #{skus.picture},
                weight = #{skus.weight},
                update_time = #{skus.updateTime},
                is_valid = #{skus.isValid},
                is_deleted = #{skus.isDeleted},
                sku_name = #{skus.skuName},
                spec_info = #{skus.specInfo}
            </set>
            where
              spu_code = #{skus.spuCode} AND sku_code = #{skus.skuCode}
        </foreach>
    </update>

    <select id="selectSkuList" resultType="org.trc.scm.finance.domain.Skus"
            parameterType="java.util.Map">
        SELECT sk.sku_name AS skuName, sk.sku_code AS skuCode, sk.spu_code AS spuCode, sk.spec_info AS specInfo,
                sk.bar_code AS barCode, sk.item_id AS itemId
        FROM
	        skus sk
        LEFT JOIN
	        (SELECT it.spu_code,br.name brandName FROM items it LEFT JOIN brand br ON it.brand_id = br.id) its
        ON sk.spu_code = its.spu_code
        WHERE sk.is_valid = 1
        <if test="brandName != null and brandName != ''">
            AND its.brandName = #{brandName}
        </if>
        <if test="skuName != null and skuName != ''">
            AND sk.sku_name LIKE CONCAT('%', #{skuName}, '%')
        </if>
        <if test="skuCodeTemp != null and skuCodeTemp != ''">
            AND sk.sku_code IN
            <foreach collection="skuCode" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="barCodeTemp != null and barCodeTemp != ''">
            AND
            <foreach collection="barCode" index="index" item="item" close=")" open="(" separator=" or ">
                FIND_IN_SET(#{item},sk.bar_code)
            </foreach>
        </if>
        <if test="spuCode != null and spuCode != ''">
            AND sk.spu_code LIKE CONCAT('%', #{spuCode}, '%')
        </if>
        <if test="spuTemp != null and spuTemp !=''">
            AND sk.sku_code NOT IN
            <foreach collection="skuCodes" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="pageSize != null and pageSize != ''">
            LIMIT #{start},#{pageSize}
        </if>
    </select>

    <select id="selectSkuListCount" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        SELECT count(*) FROM (
        SELECT sk.sku_name AS skuName, sk.sku_code AS skuCode, sk.spu_code AS spuCode, sk.spec_info AS specInfo,
        sk.bar_code AS barCode, sk.item_id AS itemId
        FROM
        skus sk
        LEFT JOIN
        (SELECT it.spu_code,br.name brandName FROM items it LEFT JOIN brand br ON it.brand_id = br.id) its
        ON sk.spu_code = its.spu_code
        WHERE sk.is_valid = 1
        <if test="brandName != null and brandName != ''">
            AND its.brandName = #{brandName}
        </if>
        <if test="skuName != null and skuName != ''">
            AND sk.sku_name LIKE CONCAT('%', #{skuName}, '%')
        </if>
        <if test="skuCodeTemp != null and skuCodeTemp != ''">
            AND sk.sku_code IN
            <foreach collection="skuCode" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="barCodeTemp != null and barCodeTemp != ''">
            AND
            <foreach collection="barCode" index="index" item="item" close=")" open="(" separator=" or ">
                FIND_IN_SET(#{item},sk.bar_code)
            </foreach>
        </if>
        <if test="spuCode != null and spuCode != ''">
            AND sk.spu_code LIKE CONCAT('%', #{spuCode}, '%')
        </if>
        <if test="spuTemp != null and spuTemp !=''">
            AND sk.sku_code NOT IN
            <foreach collection="skuCodes" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>) t
    </select>

    <select id="selectAllBarCode" resultType="java.lang.String">
        SELECT bar_code from  skus where  is_valid = '1'
        <if test="notInList != null and notInList.size>0">
            AND sku_code NOT in
            <foreach collection="notInList" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectSkuListByBarCode" resultType="java.lang.String">
         SELECT bar_code from  skus sk where
        <foreach collection="barCodeList" index="index" item="item" close=")" open="(" separator=" or ">
            FIND_IN_SET(#{item},sk.bar_code)
        </foreach>
    </select>

    <select id="getSkusExtBySkuCodes" resultType="org.trc.scm.finance.domain.Skus">
        SELECT
            sku.id AS id,
            sku.sku_code AS skuCode,
            sku.sku_name AS skuName,
            sku.item_id AS itemId,
            sku.spu_code AS spuCode,
            sku.property_value_id AS propertyValueId,
            sku.property_value AS propertyValue,
            sku.bar_code AS barCode,
            sku.weight,
            sku.market_price AS marketPrice,
            sku.predict_channel_price AS predictChannelPrice,
            sku.spec_info AS specInfo,
            sku.picture,
            sku.is_deleted AS isDeleted,
            br.`name` AS brandName,
            br.brand_code AS brandCode,
            cat.`name` AS categoryName
        FROM
            skus sku,
            items it,
            brand br,
            category cat
        WHERE
            sku.spu_code = it.spu_code
          AND
            br.id = it.brand_id
          AND
            it.category_id = cat.id
          <if test="skuCodes != null and skuCodes.size > 0">
              AND sku.sku_code IN
              <foreach collection="skuCodes" item="item" separator="," open="(" close=")">
                  #{item}
              </foreach>
          </if>
    </select>

    <select id="getskuInfosBySkuCodes" resultType="org.trc.scm.finance.domain.Skus" >
        SELECT
            sku.id AS id,
            sku.sku_code AS skuCode,
            sku.sku_name AS skuName,
            sku.item_id AS itemId,
            sku.spu_code AS spuCode,
            sku.property_value_id AS propertyValueId,
            sku.property_value AS propertyValue,
            sku.bar_code AS barCode,
            sku.weight,
            sku.market_price AS marketPrice,
            sku.predict_channel_price AS predictChannelPrice,
            sku.spec_info AS specInfo,
            sku.picture,
            sku.is_deleted AS isDeleted,
            br.`name` AS brandName,
            br.id AS brandId,
            ca.`name` AS categoryName,
            ca.id as categoryId
        FROM
            skus sku,
            brand br,
            items it,
            category ca
        WHERE
          sku.item_id = it.id AND it.brand_id = br.id AND ca.id = it.category_id
        <if test="skuName != null and skuName !=''">
            AND sku.sku_name LIKE CONCAT("%",#{skuName},"%")
        </if>
        <if test="brandName != null and brandName !=''">
            AND br.`name` LIKE CONCAT("%",#{brandName},"%")
        </if>
        <if test="skuCodes != null and skuCodes.size > 0">
            AND sku.sku_code IN
            <foreach collection="skuCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getskuInfosBySkuCodesAndValid" resultType="org.trc.scm.finance.domain.Skus" >
        SELECT
        sku.id AS id,
        sku.sku_code AS skuCode,
        sku.sku_name AS skuName,
        sku.item_id AS itemId,
        sku.spu_code AS spuCode,
        sku.property_value_id AS propertyValueId,
        sku.property_value AS propertyValue,
        sku.bar_code AS barCode,
        sku.weight,
        sku.market_price AS marketPrice,
        sku.predict_channel_price AS predictChannelPrice,
        sku.spec_info AS specInfo,
        sku.picture,
        sku.is_deleted AS isDeleted,
        br.`name` AS brandName,
        br.id AS brandId,
        ca.`name` AS categoryName,
        ca.id as categoryId
        FROM
        skus sku,
        brand br,
        items it,
        category ca
        WHERE
        sku.item_id = it.id AND it.brand_id = br.id AND ca.id = it.category_id
        AND sku.is_valid = '1'
        <if test="skuName != null and skuName !=''">
            AND sku.sku_name LIKE CONCAT("%",#{skuName},"%")
        </if>
        <if test="brandName != null and brandName !=''">
            AND br.`name` LIKE CONCAT("%",#{brandName},"%")
        </if>
        <if test="skuCodes != null and skuCodes.size > 0">
            AND sku.sku_code IN
            <foreach collection="skuCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>